{% extends 'base.html' %}
{% block content %}

    {# 코드 작성은 이선 이후로 작성 바람#}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/auth.css') }}">


    <div class="auth-container">
        <div class="auth-box login-shadow">
            <!-- 로고 영역 -->
            <div class="auth-logo login-border">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/main/찐막로고.png') }}"
                                                           alt="짝퉁로고"></a>
            </div>

            <form method="post">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}

                <div class="mb-3">
                    {{ form.userid.label(class="form-label") }}
                    {{ form.userid(class="form-control", placeholder="아이디") }}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="비밀번호") }}
                </div>

                <button type="submit" class="btn btn-success">로그인</button>
                <a href="{{ url_for('auth.signup') }}" class="btn btn-link">계정이 없으신가요? 회원가입</a>
            </form>
        </div>
    </div>
{% endblock %}

