@charset "utf-8";


/* --------------------------------------------------------------- */
/* nav */
/* --------------------------------------------------------------- */
.nav {width: 100%; height: 100px; display: flex; justify-content: center;}
.nav-all {width: 1200px; height: 100px; background-color: antiquewhite; display: flex; justify-content: space-around; text-align: center;}
.nav i {width: 70px; height: 70px; background-color: aqua;}

/* --------------------------------------------------------------- */
/* Main Slider */
/* --------------------------------------------------------------- */
.main_slider {width: 100%; height: 600px; background-color: aquamarine;}


/* --------------------------------------------------------------- */
/* 추석 이벤트 상품 */
/* --------------------------------------------------------------- */
.event {width: 100%; height: 500px; background-color: rgb(226, 192, 150);}


/* --------------------------------------------------------------- */
/* 카테고리 시작 제목란 */
/* --------------------------------------------------------------- */
.category_start {width: 100%; height: 200px; background-color: rgb(172, 108, 233);}


/* --------------------------------------------------------------- */
/* 옷 카테고리 */
/* --------------------------------------------------------------- */
.clothes_category {width: 100%; height: 650px; background-color: rgb(172, 172, 172);}


/* --------------------------------------------------------------- */
/* 쿠폰 / 이벤트 Slider */
/* --------------------------------------------------------------- */
.coupon_slider {width: 100%; height: 450px; background-color: rgb(226, 122, 122);}


/* --------------------------------------------------------------- */
/* 패션소품 카테고리 */
/* --------------------------------------------------------------- */
.fashion_category {width: 100%; height: 650px; background-color: rgb(148, 224, 124);}


/* --------------------------------------------------------------- */
/* 잡화 카테고리 */
/* --------------------------------------------------------------- */
.other {width: 100%; height: 650px; background-color: rgb(172, 172, 172);}


/* --------------------------------------------------------------- */
/* 리뷰 제목 입력 */
/* --------------------------------------------------------------- */
.review_title{width: 100%; height: 200px; background-color: rgb(172, 108, 233);}



/* --------------------------------------------------------------- */
/* 리뷰 입력 */
/* --------------------------------------------------------------- */
.review{width: 100%; height: 550px; background-color: rgb(226, 192, 150);}

