{% extends 'base.html' %}
{% block content %}

{# 코드 작성은 이선 이후로 작성 바람#}
  <!-- nav -->
        <div class="nav">
            <nav class="nav-all">
                <div><i class="fa-solid fa-shirt"></i><br>Clothes</div>
                <div><i class="fa-solid fa-book"></i><br> Books</div>
                <div><i class="fa-regular fa-gem"></i><br>Fashion<br>accessories</div>
                <div><i class="fa-solid fa-icons"></i><br>Other</div>
                <div><i class="fa-solid fa-thumbs-up"></i><br>Review</div>
                <div><i class="fa-solid fa-users-gear"></i><br> Individual /<br>Company</div>
            </nav>
        </div>



        <!-- Main Slider -->
        <div class="main_slider">

        </div>



        <!-- 추석 이벤트 상품 -->
        <div class="event">

        </div>



        <!-- 카테고리 시작 제목란 -->
        <div class="category_start">

        </div>



        <!-- 옷 카테고리 -->
        <div class="clothes_category">

        </div>



        <!-- 쿠폰 / 이벤트 Slider -->
        <div class="coupon_slider">

        </div>



        <!-- 패션소품 카테고리 -->
        <div class="fashion_category">

        </div>



        <!-- 잡화 카테고리 -->
        <div class="other">

        </div>



        <!-- 리뷰 제목 입력 -->
        <div class="review_title">

        </div>



        <!-- 리뷰 입력 -->
        <div class="review">

        </div>




{% endblock %}
