@charset "utf-8";

/* slider */
#slider1 {width: 100%; height:1000px;background-color: aquamarine;}

.filter {width: 1200px; height: 90px; margin: 0 auto;display: flex; }
.filter-line { width: 100px;font-family: Arial, Helvetica, sans-serif;margin-top: 20px;}
.filter-title {font-size: 16px; font-weight: bold;padding-bottom: 8px;border-bottom: 1px solid #000;margin-bottom: 10px;}
.filter-section { display: block; }
.filter-toggle {background: none;border: none;font-size: 14px;font-weight: bold;width: 100%; text-align: left;cursor: pointer;display: flex;justify-content: space-between;align-items: center;}
.filter-toggle .arrow {font-size: 12px;transition: transform 0.3s;}

.filter-list {list-style: none;margin: 0;padding: 0;display: none;}
.filter-list li {margin: 5px 0;}
.filter-list input {margin-right: 5px;}
/* 열렸을 때 보이게 */
.filter-section.active .filter-list {display: block;}
.filter-section.active .filter-toggle .arrow {transform: rotate(180deg);}

#slider2 {width: 100%; height: 1000px;background-color: pink;}

#slider3 {width: 100%; height: 1000px;background-color: red;}