@charset "utf-8";

    .swiper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .mySwiperInner .swiper-slide img {
      width: 100%;
      height: auto;
      display: block;
    }

/* --------------------------------------------------------------- */
/* Main Slider */
/* --------------------------------------------------------------- */
.main_slider { width: 100%; height: 600px; margin-top: 70px;}
.mySwiper1 {width: 1000px; height: 500px; border-radius: 15px;}

.mySwiper1:hover .swiper-button-next1, .mySwiper1:hover .swiper-button-prev1 {opacity: 1; transition: all 0.3s;}
.swiper-button-next1, .swiper-button-prev1 {position: absolute; width: 50px; height: 50px; z-index: 5; top: 220px;cursor: pointer;  display: flex; justify-content: center; align-items: center; opacity: 0;}
.swiper-button-next1 {right: 5px;}
.swiper-button-prev1 {left: 5px;}
.swiper-button-next1 i, .swiper-button-prev1 i {font-size: 50px; color: rgb(84, 208, 50);}
.swiper-button-next1 i:hover, .swiper-button-prev1 i:hover {color:rgb(37, 161, 2);}

/* --------------------------------------------------------------- */
/* 추석 이벤트 상품 */
/* --------------------------------------------------------------- */
.event {width: 100%; height: 600px; display: flex; justify-content: center; align-items: center; }
.event-all {width: 1200px; height: 590px; border: 1px solid #44444414; display: flex; justify-content: center; align-items: center;}

.event-title {width: 1200px; height: 70px; display: flex; justify-content: center; align-items: center; font-size: 30px; font-weight: 600; }
.event-title_1 {border-bottom: 1px solid #4444441b; display: flex; padding-bottom: 15px;}

.event-title i {padding-top: 7px; margin: 0px 15px; animation: gift 1s linear infinite;}
@keyframes gift {
    0% {color: rgb(255, 255, 255);}
    50% {color: rgb(255, 0, 0);}
    100% {color: rgb(255, 255, 255);}
}

.event-subject {position: relative; display: flex; justify-content: center; align-items: center;}
#Slider2 {width: 1150px; height: 430px;}
.mySwiper2 {position: absolute; position: relative;}
.scr2 {position: absolute; width: 1150px; height: 50px; z-index: 5; 
top: 200px; cursor: pointer;  display: flex; justify-content: space-between; align-items: center;}
.swiper-button-prev2, .swiper-button-next2 {display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 50px; height: 50px; background-color: white; opacity: 0; border: 1px solid #4444443d;}
.event-subject:hover .swiper-button-next2, .event-subject:hover .swiper-button-prev2 {opacity: 1; transition: all 0.3s;}
.swiper-button-next2 i, .swiper-button-prev2 i {font-size: 30px; color: rgb(0, 0, 0);}
.swiper-button-next2:hover, .swiper-button-prev2:hover {transition: all 0.3s; background-color: #2cda31; border: none;}
.swiper-button-next2:hover i, .swiper-button-prev2:hover i{transition: all 0.3s; color: white;}



.slide2-production {text-align: left; margin: 0px 15px;}
.slide2-production img {margin-bottom: 15px;}
.slide2-production p{font-size: 14px; color: rgba(0, 0, 0, 0.5);}

.slide2-text {display: flex;}
.slide2-text p:nth-of-type(1) {color: red; font-size: 18px; font-weight: 450; padding-top: 6px;}
.slide2-text p:nth-of-type(2) {padding-left: 15px; padding-top: 13px; color: rgba(0, 0, 0, 0.5); font-size: 14px;}
.slide2-text2 {display: flex; padding-top: 6px;}
.slide2-text2 p:nth-of-type(1) {color: black; padding-right: 10px; font-size: 20px; font-weight: 450;}
.slide2-text2 p:nth-of-type(2) {text-decoration: line-through; padding-top: 7px;}

/* --------------------------------------------------------------- */
/* 옷 카테고리 */
/* --------------------------------------------------------------- */
.clothes_category {width: 100%; height: 720px; display: flex; justify-content: center; margin-bottom: 50px; position: relative;}
.clothes-box {width: 1200px; height: 720px; display: flex; border-bottom: 1px solid #4444441b;}
.clothes_start {width: 450px; height: 700px; display: flex; justify-content: center; margin-right: 50px; }
.clothes_start-title img {width: 350px; height: 350px; margin-bottom: 30px;}
.clothes_start-title h3 {padding-bottom: 10px; font-size: 30px; font-weight: 450;}
.clothes_start-title h3 i {padding-right: 15px; color: #2cda31;}
.clothes_start-title p {margin-top: 7px; font-size: 23px; font-weight: 330;}
.clothes_start-title button {width: 190px; height: 50px; margin-top: 50px; border: none; border-radius: 5px; cursor: pointer; font-size: 18px; font-weight: 500; color: white; background-color: #3cc340;}
.clothes_start-title button:hover {border: 1px solid #44444422; background-color: #1fae24;}

.mySwiper3 {width: 690px; height: 650px; display: flex; align-items: center; margin-right: 50px; padding-left: 1px;}
.box1 {display: flex; align-items: start; flex-direction: column; padding: 0; margin: 0; border: 1px solid #4444443b;}

.mySwiperInner {height: 200px; cursor: pointer;}
.mySwiperInner:hover .clothes-img-box {transform: scale(1.1); transition: all 0.3s;}
.clothes-text {padding:2px 7px;}
.clothes-text h3 {font-size: 17px; font-weight: 450; text-align: start; margin-top: 10px;}
.clothes-text p {display: flex; font-size: 15px; margin-top: 5px;}
.clothes-text > p {font-weight: 440; font-size: 18px;}
.clothes-text-1 {display: flex;}
.clothes-text-1 p:nth-child(1) {color: red; font-size: 16px;}
.clothes-text-1 p:nth-child(2) {text-decoration: line-through; font-size: 13px; padding-top: 4px; padding-left: 7px;}


/* --------------------------------------------------------------- */
/* 쿠폰 / 이벤트 Slider */
/* --------------------------------------------------------------- */
.coupon_slider {width: 100%; height: 450px; display: flex; justify-content: center; align-items: center; margin-bottom: 30px;}
.coupon_all {width: 1200px; height: 450px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #4444441b;}
.mySwiper4 {margin-left: 100px; width: 750px; height: 400px; border: 2px solid #00000026; border-radius: 15px; margin-bottom: 30px;}
.mySwiper4 img {border-radius: 15px;}

.coupon_start {width: 750px; height: 450px; position: relative; display: flex; justify-content: center; align-items: center;}
.scr4 {margin-left: 100px; width: 820px; display: flex; justify-content: space-between; z-index: 10; position: absolute; font-size: 40px; cursor: pointer;}
.scr3-i-1:hover, .scr3-i-2:hover {color:#1fae24;}

.coupon_end {width: 450px; height: 450px; display: flex; justify-content: center; align-items: center; margin-bottom: 30px;}
.coupon-box {margin-left: 100px; width: 250px; height: 400px; border: 2px solid #00000031; padding: 20px; border-radius: 10px;}
.coupon-box img {width: 200px; height: 200px; margin-top: 30px; margin-bottom: 20px;}
.coupon-box h4 {font-size: 18px;}
.coupon-box p {font-size: 14px; font-weight: 400; color: #444444b0;}

/* --------------------------------------------------------------- */
/* 패션소품 카테고리 */
/* --------------------------------------------------------------- */
.fashion_category {width: 100%; height: 720px; display: flex; justify-content: center; margin-bottom: 50px; position: relative}
.fashion-box {width: 1200px; height: 720px; display: flex; border-bottom: 1px solid #4444441b;}
.fashion_start {width: 450px; height: 700px; display: flex; justify-content: center; margin-right: 50px; }
.fashion_start-title img {width: 350px; height: 350px; margin-bottom: 30px;}
.fashion_start-title h3 {padding-bottom: 10px; font-size: 30px; font-weight: 450;}
.fashion_start-title h3 i {padding-right: 15px; color: #2cda31;}
.fashion_start-title p {margin-top: 7px; font-size: 23px; font-weight: 330;}
.fashion_start-title button {width: 190px; height: 50px; margin-top: 50px; border: none; border-radius: 5px; cursor: pointer; font-size: 18px; font-weight: 500; color: white; background-color: #3cc340;}
.fashion_start-title button:hover {border: 1px solid #44444422; background-color: #1fae24;}

.mySwiper5 {width: 700px; height: 650px; display: flex; align-items: center; margin-right: 50px; padding-left: 1px;}
.box1 {display: flex; flex-direction: column; padding: 0; margin: 0; border: 1px solid #4444443b;}

.mySwiperInner1 {height: 200px; cursor: pointer;}
.mySwiperInner1:hover .fashion-img-box {transform: scale(1.1); transition: all 0.3s;}
.fashion-text {padding:2px 7px;}
.fashion-text h3 {font-size: 17px; font-weight: 450; text-align: start; margin-top: 10px;}
.fashion-text p {display: flex; font-size: 15px; margin-top: 5px;}
.fashion-text > p {font-weight: 440; font-size: 18px;}
.fashion-text-1 {display: flex;}
.fashion-text-1 p:nth-child(1) {color: red; font-size: 16px;}
.fashion-text-1 p:nth-child(2) {text-decoration: line-through; font-size: 13px; padding-top: 4px; padding-left: 7px;}

/* --------------------------------------------------------------- */
/* 잡화 카테고리 */
/* --------------------------------------------------------------- */
.other_category {width: 100%; height: 720px; display: flex; justify-content: center; margin-bottom: 50px; position: relative;}
.other-box {width: 1200px; height: 720px; display: flex; border-bottom: 1px solid #4444441b;}
.other_start {width: 450px; height: 700px; display: flex; justify-content: center; margin-right: 50px; }
.other_start-title img {width: 350px; height: 350px; margin-bottom: 30px;}
.other_start-title h3 {padding-bottom: 10px; font-size: 30px; font-weight: 450;}
.other_start-title h3 i {padding-right: 15px; color: #2cda31;}
.other_start-title p {margin-top: 7px; font-size: 23px; font-weight: 330;}
.other_start-title button {width: 190px; height: 50px; margin-top: 50px; border: none; border-radius: 5px; cursor: pointer; font-size: 18px; font-weight: 500; color: white; background-color: #3cc340;}
.other_start-title button:hover {border: 1px solid #44444422; background-color: #1fae24;}

.mySwiper6 {width: 690px; height: 650px; display: flex; align-items: center; margin-right: 50px; padding-left: 1px;}
.box1 {display: flex; align-items: start; flex-direction: column; padding: 0; margin: 0; border: 1px solid #4444443b;}

.mySwiperInner2 {height: 200px; cursor: pointer;}
.mySwiperInner2:hover .other-img-box {transform: scale(1.1); transition: all 0.3s;}
.other-text {padding:2px 7px;}
.other-text h3 {font-size: 17px; font-weight: 450; text-align: start; margin-top: 10px;}
.other-text p {display: flex; font-size: 15px; margin-top: 5px;}
.other-text > p {font-weight: 440; font-size: 18px;}
.other-text-1 {display: flex;}
.other-text-1 p:nth-child(1) {color: red; font-size: 16px;}
.other-text-1 p:nth-child(2) {text-decoration: line-through; font-size: 13px; padding-top: 4px; padding-left: 7px;}