<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/mypage/mypage.css">
</head> -->
{% extends 'base.html' %}
{% block content %}

    <div class="mypage">

        <!-- 마이페이지 최상단  -->
        <div class="top">
            <!-- 자기정보 -->
            <div class="my">
                <!-- 자기사진 -->
                <img class="myimg" src="{{ url_for('static', filename='test.jpg') }}" alt="">
                <!-- 닉네임, 연락처 -->
                <div class="mymid">
                    <div class="name">닉네임 </div>
                    <div class="name_db">{{user.username}}</div>
                    <div class="phone">전화번호 </div>
                    <div class="phone_db">{{user.phone}}</div>
                </div>
                <!-- 주소 -->
                <div class="mybottom">
                    <div class="address">주소</div>
                    <div class="address_db"> {{user.address}}</div>
                </div>
            </div>
            <!-- 등록한 상품기록 -->
            <div class="post">
                상품 등록 기록 조회
            </div>
        </div>
        <!-- 댓글기록 -->
        <div class="comment">
            댓글 기록 조회
        </div>
    </div>

{% endblock %}
