<!--가장 기본인 html 생성-->

<!--가장 기본인 html 생성-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5PICK</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
        <!-- 위로 올라가기 버튼 (지피티 참고) -->
        <div></div>



        <!-- Header -->
        <div class="header">
            <div class="header-all">
                <div class="header-top">
                    <div class="logo"><a href="index.html"><img src="./img/그림1.png" alt="logo"></a></div>
                    <div class="header-t-text">
                        <p class="header-p-1">로그인</p>
                        <p></p>
                        <p class="header-p-1"><a aria-current="page" href="{{url_for('auth.signup')}}">회원가입</a></p>
                        <p></p>
                        <p class="header-p-1">고객지원</p>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="header-b">
                        <h2 class="header-b-text">고민은 배송을 늦출 뿐</h2>
                        <div class="header-search-box">
                            <input type="search" placeholder="추석 선물세트" class="header-search">
                            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--네비게이션-->


<!--    기본 템플릿 안에 삽입될 내용 start-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 end-->


<!--부트 스트렙 js-->


</body>
</html>